@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: 'Unica One', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color: #8AA848;
}

.brand-bar{
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.footer-bg {
    background-color: #8AA848;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container{
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-height: 25vh;
    width: 100%;
}

.masthead-text {
    /* background-color: #FF8156; */
    background: linear-gradient(87.4deg, #F9FAFC 1.9%, #FF8156 100.5%);    
    color: white;
    position: relative;
    padding-right: 5px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #FF8156;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link, .post-link-green {
    text-decoration: none;
    color: #445261;
}

.btn-index{
    /* background-color: #E84610; */
    border:2px solid  #E84610 ;
    /* color: white; */
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-link-green:hover,
.page-link-green {
    color: #8AA848;
}

.post-title {
    margin-top: 35px;
    margin-left: 2%;
    color: #4A4A4F;
}

.post-subtitle {
    margin-left: 2%;
    color: #4A4A4F;
    font-size: medium;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    padding:0;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.text-orange-color{
    color: #E84610 !important;
}

.text-green-color{
    color: #8AA848 !important;
}

.profile_icons{
    font-size: medium;
}

.recipe_icons{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Carousel Index Page */
.carousel-max-vh-50{
    max-height: 50vh!important;
}

.carousel-caption{
    color:#4A4A4F;
}
.carousel-button{
    position: absolute;
    right: 15%;
    bottom: 7.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.brand-text-short{
    display: none;
}

.footer_button, .footer_button:visited{
    text-decoration: none;
    color: inherit;
}

.index-card-body{
    /* border:2px solid #E84610; */
    padding: 10px;

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

.index-card-body:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h3{
    font-size:large;
}

.comments-section .card{
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}

.comments-section .dots{
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.comments-section .badge{
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.comments-section .user-img{
    margin-top: 4px;
}

.comments-section .check-icon{
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.comments-section .form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}

.comments-section .form-check-input:focus{
    box-shadow: none;
}

.comments-section .icons i{
    margin-left: 8px;
}

.comments-section .reply{
    margin-left: 12px;
}
.comments-section .margin-l-name{
    margin-left: 8px;
}

.comments-section .reply small{
    color: #b7b4b4;
}

.comments-section .reply small:hover{
    color: red;
    cursor: pointer;

    
}


.img-cover{
    object-fit: cover;
    object-position: center;
}

.image_box_size{
    width: 50%;
}

.bg-standard{
background-color: #0dcaf0!important;
}

.bg-bronze{
    background-color:#CD7F32!important;
}

.bg-silver{
    background-color:#808080!important;
}

.bg-gold{
    background-color:#FFD700!important;
}

.bg-platnium{
    background-color:#E5E4E2!important;
    color:black!important;
}

.bg-suspended{
    background-color:#C70039!important;
}

.border-standard{
    border-color: #0dcaf0!important;
    }
    
    .border-bronze{
        border-color:#CD7F32!important;
    }
    
    .border-silver{
        border-color:#808080!important;
    }
    
    .border-gold{
        border-color:#FFD700!important;
    }
    
    .border-platnium{
        border-color:#E5E4E2!important;
    }
    
    .border-suspended{
        border-color:#C70039!important;
    }

.btn-wc-green{
    background-color: #8AA848;
    color:white;
}

.btn-wc-green:hover{
    background-color: #5c7429;
    color:white;
}

.btn-wc-orange{
    background-color: #FF8156;
    color:white;
}

.btn-wc-orange:hover{
    background-color: #a35338;
    color:white;
}

.card-img-top{
    width: 100%;
    
    aspect-ratio: 16/9;
}
.auto-img-h{
    height: auto;
}

.card-h{
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-h-small{
    min-height: 75px;
    height: 75px;
    max-height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.one-Line-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
Check box design
*/
.recipe-page #id_filter_query{
    padding: 0!important;
}

.recipe-page input[type="checkbox"] {
    display: none;
}

.recipe-page #id_filter_query li {
    display: inline;
    text-transform: capitalize;
}

.unchecked {
    display: inline-block;
    background-color: rgba(255, 171, 167, 0.495);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5b5b5b;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
}

.checked {
    display: inline-block;
    background-color: rgba(171, 255, 167, 0.495);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5b5b5b;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
}
/* End Checkbox */


/* 
form checkbox recipe
*/

#div_id_publish{
    margin-top: 1rem;
}

/*  */

/* list of searchged items */

#id_filter_items ul{
    margin: 5px;
    padding: 0!important;
    line-height: 2.4rem;
    
}
#id_filter_items li {
    display: inline;
    text-transform: capitalize;
}

.checked_item_search{
    background-color: rgba(255, 255, 167, 0.495);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5b5b5b;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
   
}

/* end of  */
.method-class-design + label {
    position: absolute;
    top: 0;
}
.method-class-design {
    height: 150px;
}

.splide__slide img {
 aspect-ratio: 1 / 1;
max-height: 500px;
max-width: 500px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 18px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #id_publish {
    display: block!important;
  }
/* Home page */

#home_signup_list{
    list-style: none;
}

#home_signup_list li::before{
    content: "•";
  color: #E84610;
  font-weight: bold;
  display: inline-block;
  width: 15px;
}

.bg-orange{
    background: rgba(232, 70, 16,0.7);
    color: whitesmoke;
}
.bg_index_img-a{
    background-image: url("../media/home_Image.jpg");
}
.bg_index_img-b{
    background-image: url("../media/home_image_2.jpg");
}
.bg_index_img-c{
    background-image: url("../media/home_image_3.jpg");
}

.bg_index_img{ 
        /* Set a specific height */
        min-height: 200px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
}



@media only screen and (max-width: 575px) {
    .carousel-caption h3{
        font-size: medium;
    }
    .carousel-caption p{
        font-size: small;
    }

    .brand-text{
        display: none;
    }
    .brand-text-short{
        display: inline;
    }

}
@media only screen and (max-width: 300px) {
.carousel-button{
    bottom: 6.25rem;
}
.carousel-caption{
    bottom: 0rem;
}
}

