@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: 'Unica One', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color: #8AA848;
}

.brand-bar{
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.footer-bg {
    background-color: #8AA848;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container{
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-height: 25vh;
    width: 100%;
}

.masthead-text {
    background-color: #FF8156;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #FF8156;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 35px;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #4A4A4F;
    font-size: medium;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    padding:0;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.recipe_icons{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Carousel Index Page */
.carousel-max-vh-50{
    max-height: 50vh!important;
}

.carousel-caption{
    color:#4A4A4F;
}
.carousel-button{
    position: absolute;
    right: 15%;
    bottom: 7.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.brand-text-short{
    display: none;
}

.footer_button, .footer_button:visited{
    text-decoration: none;
    color: inherit;
}

.index-card-body{
    border:2px solid #E84610;
    padding: 10px;
    }

.container h3{
    font-size:large;
}

.comments-section .card{
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}

.comments-section .dots{
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.comments-section .badge{
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.comments-section .user-img{
    margin-top: 4px;
}

.comments-section .check-icon{
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.comments-section .form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}

.comments-section .form-check-input:focus{
    box-shadow: none;
}

.comments-section .icons i{
    margin-left: 8px;
}

.comments-section .reply{
    margin-left: 12px;
}
.comments-section .margin-l-name{
    margin-left: 8px;
}

.comments-section .reply small{
    color: #b7b4b4;
}

.comments-section .reply small:hover{
    color: green;
    cursor: pointer;
}

.img-cover{
    object-fit: cover;
    object-position: center;
}

.image_box_size{
    width: 50%;
}

@media only screen and (max-width: 575px) {
    .carousel-caption h3{
        font-size: medium;
    }
    .carousel-caption p{
        font-size: small;
    }

    .brand-text{
        display: none;
    }
    .brand-text-short{
        display: inline;
    }

}
@media only screen and (max-width: 300px) {
.carousel-button{
    bottom: 6.25rem;
}
.carousel-caption{
    bottom: 0rem;
}
}

