{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>What's Cooking</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="shortcut icon" type="image/png"
        href="https://res.cloudinary.com/dcyscwwbk/image/upload/v1675028445/site_images/favicon.ico" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid justify-content-start">
            <a class="text-decoration-none text-reset" href="{% url 'home' %}">
                <img class="me-3"
                    src="https://res.cloudinary.com/dcyscwwbk/image/upload/v1675026306/site_images/Logo-WC.webp">
            </a>
            <span class="brand">
                <a class="text-decoration-none text-reset" href="{% url 'home' %}">
                    <span class="brand-text">what's cooking</span>
                    <span class="brand-text-short">wc</span>
                </a>

                <span class="thin brand-bar ">| Community Cooking</span>

            </span>

            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'aboutus' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'aboutus' %}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'recipes' %}">Recipes</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Messages Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 footer-bg">
        <p class="m-0 text-center text-white">
            <a href="https://github.com/dlhamilton" rel="author" title="Go to D Hamilton Github" target="_blank"
                class="footer_button">
                Made by D Hamilton
            </a>
        </p>
        <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>
    {% if user.is_authenticated %}
    <!-- Profile Slider -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <!-- Header -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="https://res.cloudinary.com/dcyscwwbk/image/upload/v1675026306/site_images/Logo-WC.webp">
                </a>
                <span class="brand">
                    <a class="text-decoration-none text-reset" href="{% url 'home' %}">
                        <span class="brand-text">what's cooking</span>
                        <span class="brand-text-short">wc</span>
                    </a>
                    {% if user.is_authenticated %}
                    <a class="text-decoration-none text-reset" href="{% url 'profile_page' user.username %}">
                        <span class="thin brand-bar">| Profile</span>
                    </a>
                    {% else %}
                    <span class="thin brand-bar">| Login</span>
                    {% endif %}
                </span>

            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- Body -->
        <div class="offcanvas-body">
            {% if user.is_authenticated %}
            <!-- Profile Pic -->
            <a class="text-decoration-none text-reset" href="{% url 'profile_page' user.username %}">
                <div class="image_box_size mx-auto d-block">
                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                        <img src="{{ user.user_details.user_image.url }}" class="card-img-top img-cover"
                            alt="profile pic">
                    </div>
                </div>
            </a>

            <!-- Username -->
            <div class="row mt-4">
                <div class="col">
                    <div class="mx-auto d-block">
                        <strong>
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' user.username %}">
                                <p class="text-center text-uppercase post-link">{{ user.username }}</p>
                            </a>
                        </strong>
                    </div>
                </div>
            </div>
            {% if user.first_name != "" %}
            <!-- User details -->
            <div class="row">
                <div class="col">
                    <p><strong>First name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Location:</strong> {{ user.user_details.location }}</p>
                </div>
            </div>
            {% else %}
            <!-- User complete account -->
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-dark bg-warning">
                        <div class="card-body">
                            <h4>Information missing</h4>
                            <p class="card-text">
                                You have not completed all details in your account. Click the button below to enter the
                                final details</p>
                            <button type="button" class="btn btn-outline-danger"><a
                                    class="text-decoration-none text-reset"
                                    href="{% url 'profile_page' user.username %}">Complete Account</a></button>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
            <div class="row">
                <!-- Account Status -->
                <div class="col">
                    <div class="card text-white bg-{{ user.user_details.get_status_display|lower }}">
                        <div class="card-header">Account Status</div>
                        <div class="card-body">
                            <h2 class="card-title"><i class="fas fa-award"></i>
                                {{ user.user_details.get_status_display }}</h2>
                            <p class="card-text">You have shared {{ user.user_recipes.count }}
                                recipe{% if user.user_recipes.count != 1 %}s
                                {% endif %}

                                {% if user.user_details.get_amount_to_next == -1 %}
                            </p>
                            {% else %}
                            <br>
                            You are {{ user.user_details.get_amount_to_next }} away from the next award
                            </p>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                    style="width: {% widthratio 10 1 user.user_details.get_amount_of_recipes %}%"
                                    aria-valuenow="{{ user.user_details.get_amount_of_recipes }}" aria-valuemin="0"
                                    aria-valuemax="10"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Links to user pages -->
            <div class="row my-3 justify-content-center">
                <div class="col-4 text-center d-inline">
                    <a href="{% url 'profile_page_favourites' user.username %}" class="post-link">
                        <strong>
                            <i class="fas fa-heart text-orange-color profile_icons"></i>
                        </strong>
                        <p><span class="d-none d-md-block">My </span>Favourites</p>
                    </a>
                </div>
                <div class="col-4 text-center d-inline">
                    <a href="{% url 'profile_page_recipes' user.username %}" class="post-link">
                        <strong>
                            <i class="fas fa-utensils text-orange-color profile_icons"></i>
                        </strong>
                        <p><span class="d-none d-md-block">My </span>Recipes</p>
                    </a>
                </div>
                <div class="col-4 text-center d-inline">
                    <a href="{% url 'profile_page_followers' user.username %}" class="post-link">
                        <strong>
                            <i class="fas fa-user-friends text-orange-color profile_icons"></i>
                        </strong>
                        <p><span class="d-none d-md-block">My </span>Follows</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-secondary" type="button"
                            onclick="location.href ='{% url 'profile_page' user.username %}'">My Profile</button>
                        <button class="btn btn-outline-secondary" type="button"
                            onclick="location.href ='{% url 'account_logout' %}'">Logout</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/372da758e4.js" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>
</html>