{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid recipe-page">

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>Recipes</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- filter and search features -->
    <div class="d-flex flex-wrap justify-content-center">
        <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto">

            <div class="dropdown">
                <a class="btn btn-dark dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink" title="Dropdown sort options"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>Sort
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'name' %}" title="Sort recipes by name">Name</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'rating' %}" title="Sort recipes by rating">Rating</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'favourite' %}" title="Sort recipes by favourite">Favourites</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'date' %}" title="Sort recipes by date">Newest</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'time' %}" title="Sort recipes by time">Quickest</a></li>
                </ul>
            </div>
            <button class="btn btn-dark mx-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasFilterScroll" aria-controls="offcanvasFilterScroll" aria-label="Open filter tab">
                <i class="fa-solid fa-filter"></i> Filter</button>

            <button class="btn btn-secondary mx-1" type="button" onclick="window.location.href='{% url 'recipes' %}';" aria-label="Reset the filters">
                <i class="fa-solid fa-rotate"></i> Reset</button>
        </div>
        <!-- search bar -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" id="search_recipe_bar" method="get"
            action="{% url 'recipes_search' %}">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                {% for field in form %}
                {{ field }}
                {% endfor %}
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if searched_ingri_list|length != 0 %}
            <h6 class="mt-3">Filter:</h6>
            <div id="id_filter_items">
                <ul>
                    {% for filter_item in searched_ingri_list %}
                    <li class="checked_item_search">{{ filter_item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% if query == False %}
    <div class="container-fluid">
        <div class="row">
    <div class="col">
        <p>{{ recipes_list }}</p>
    </div>
</div>
</div>
    {% else %}

    <div class="container-fluid">
    <div class="row">
        <!-- recipe list -->
        <div class="col-12 left">
            <div class="row">
                {% for recipe in recipes_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body index-card-body">
                            <div class="image-container card-img-top overflow-hidden">
                                <img class="vertical-center w-100 auto-img-h" src="{{ recipe.recipe_image.url }}" alt="Image of the recipe">
                                <div class="image-flash">
                                    <a class="text-decoration-none text-reset"
                                        href="{% url 'profile_page' recipe.author %}" title="Go to user profile page">
                                        <p class="author">Recipe by: {{ recipe.author }}</p>
                                    </a>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link" title="Go to recipe details page">
                                <h2 class="card-title one-Line-ellipsis text-capitalize">{{ recipe.title }}</h2>
                                <p class="card-text card-h-small">{{ recipe.excerpt }}</p>
                            </a>
                            <p class="card-text mb-0"><small>Meal Time: {{ recipe.total_time }} Minutes</small></p>
                            <hr />
                            <div class="d-flex">
                                <div class="col-10 card-text text-muted h6">
                                    {% if recipe.the_star_rating_count != 0 %}
                                    {% for _ in recipe.the_star_rating_int %}
                                    <i class="fa-solid fa-star"></i>
                                    {% endfor %}
                                    {{ recipe.the_star_rating|floatformat:1  }} ( {{ recipe.the_star_rating_count }} )
                                    {% else %}
                                    No Ratings
                                    {% endif %}
                                </div>
                                <div class="col-2 text-end card-text text-muted h6">
                                    <i class="far fa-heart"></i> {{ recipe.number_of_favourites }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

<div class="row p-0 my-3">
        <span class="text-center">Page {{ recipes_list.number }} of {{ recipes_list.paginator.num_pages }}</span>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if recipes_list.has_previous %}
            <li><a href="?page={{ recipes_list.previous_page_number }}" class="page-link" title="Go to previous recipe page">&laquo; PREV </a></li>
            {% endif %}
            
            {% if recipes_list.has_next %}
            <li><a href="?page={{ recipes_list.next_page_number }}" class="page-link" title="Go to next recipe page"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>

<!-- recipe ingredients side -->
<div class="offcanvas offcanvas-start recipe-page" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasFilterScroll" aria-labelledby="offcanvasFilterScrollLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-orange-color" id="offcanvasFilterScrollLabel">Ingredients</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>The Top 5 Ingredients <i class="fa-solid fa-arrow-down-1-9"></i></h5>

        {% for ingredient, count in top_ingredients %}
            <p class="text-capitalize mb-1"><span class="text-green-color">{{ ingredient }}</span> ({{ count }} Recipes)</p>
        {% endfor %}

        <h5 class="mt-4">Ingredient Filter <i class="fa-solid fa-bowl-food"></i></h5>
        <p>Select the ingredients you would like to have in the recipe</p>
        <p>Below is a list of all ingredients:</p>

        <form id="ingredients_bar" method="get" action="{% url 'recipes_filter' %}">
            {% for object in filter_form %}
            {{ object }}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Go">
            <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
        </form>
    </div>
    <div class="offcanvas-footer">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="{% static 'js/recipes.js' %}"></script>
{%endblock%}