{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead mb-2">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <span class="text-dark fs-5"><a class="text-decoration-none text-reset" href="{% url 'recipes' %}">
                        <i class="fa-solid fa-chevron-left"></i>Back</a></span>
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title text-capitalize">
                    {{ recipe.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <h2 class="post-subtitle post-link-green">
                    Recipe by:
                    <span class="text-uppercase">
                        <strong>
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' recipe.author %}">
                                {{ recipe.author }}
                            </a>
                        </strong>
                    </span>
                </h2>
                <p class="post-subtitle">Uploaded: {{ recipe.upload_date|date:"d/m/Y" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in recipe.recipe_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ recipe.recipe_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="d-inline col-12">
            <!-- The post content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <h3>About:</h3>
            <p class="card-text ">
                {{ recipe.excerpt | safe }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="d-inline col-6 ">
            <div><i class="fa-solid fa-utensils"></i> - Serves {{ recipe.serves }}</div>
            <div><i class="fa-solid fa-fire-burner"></i> - Prep {{ recipe.prep_time }} Mins</div>
            <div class="mb-2"><i class="fa-solid fa-mortar-pestle"></i> - Cook {{ recipe.cook_time }} Mins</div>
            <!-- The post content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <h4 class="d-inline">Rating:{% if recipes_avg > 0 %}
                {{ recipes_avg }}</h4><small class="d-inline"> ({{ recipes_count }})</small>
            {% else %}
            No Ratings</h4>
            {% endif %}
            <p class="card-text mt-2">
                {% for _ in star_loop %}
                <i class="fa-solid fa-star"></i>
                {% endfor %}
                {% for _ in empty_star_loop %}
                <i class="fa-regular fa-star"></i>
                {% endfor %}
            </p>
        </div>
        <div class="d-inline d-md-none col-6">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in recipe.recipe_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%" class="rounded-3">
            {% else %}
            <img src="{{ recipe.recipe_image.url }}" width="100%" class="rounded-3">
            {% endif %}
        </div>
    </div>
    <div class="row recipe_icons mt-4">

        <div class="col-4 col-md-2 text-center">
            <strong>
                {% if user.is_authenticated %}
                <form id="myForm" class="d-inline" action="{% url 'recipe_favourite' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if favourited %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span id="fav_count" class="text-secondary">{{ recipe.number_of_favourites }}</span>
            </strong>

        </div>
        <div class="col-4 col-md-2 text-center">
            <a class="text-decoration-none text-reset" href="#the_methods">
                {% with methods.count as total_methods %}
                <strong class="text-secondary"><i class="fas fa-list-ul"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    {{ total_methods }}
                </strong>
                {% endwith %}
            </a>
        </div>
        <div class="col-4 col-md-2 text-center">
            <a class="text-decoration-none text-reset" href="#the_comments">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    {{ total_comments }}
                </strong>
                {% endwith %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="d-inline col-12 ">

            <h3>Ingredients:</h3>
            <ul>
                {% for ingredients_item in ingredients %}
                {% if ingredients_item.ingredients.approved == True %}
                <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                    {{ ingredients_item.unit }}
                    <span class="text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span></li>
                {% else %}
                <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                    {{ ingredients_item.unit }}
                    <span
                        class="text-decoration-underline text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span>
                </li>
                {% endif %}
                {% endfor %}
                <!-- {{ ingredients }} -->
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row" id="the_methods">
        <div class="card-body">
            <h3>Methods:</h3>
            <ol>
                {% for method_item in methods %}
                <li class="mb-3">{{ method_item.method|safe }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Picture upload place -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Pictures:</h3>
        </div>
    </div>
    {% if images|length != 0 %}
    <div class="row d-flex justify-content-center">
        <div class="col">
            <section id="image-main-carousel" class="splide" aria-label="Beautiful Images">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in images %}
                        <li class="splide__slide">
                            <!-- <div class="splide__slide__container"> -->
                            {% if "placeholder" in recipe.recipe_image.url %}
                            <img class="rounded" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                width="100%">
                            {% else %}
                            <img class="rounded" src="{{ image.recipe_image.url }}" width="100%">
                            {% endif %}
                            <!-- </div> -->
                            <div class="font-weight-bold">
                                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                <span class=" text-muted font-weight-normal">
                                    <!-- The comment's created date goes here -->
                                    <span class="text-capitalize">{{ image.user }}</span> -
                                    {{ image.upload_date|date:"jS F Y" }}
                                </span> wrote:
                                <br>{{ image.headline }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <h4>No Pictures</h4>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Comments upload place -->
    <div class="row" id="the_comments">
        <div class="col-md-8 card mt-3 comments-section">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h3>Comments:</h3>
                
                <div class="buttons">
                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <label class="switch">
                            <input type="checkbox" id="flexSwitchCheckChecked" checked>
                            <span class="slider round"></span>
                        </label>
                    </span>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row" id="comments_row">
        <div class="col-md-8 card mb-4  mt-3 comments-section">
            <div>
                {% if comments|length != 0 %}
                {% for comment in comments %}
                <div class="card p-3 mt-2 " data-comment_id="{{ comment.id }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' comment.user %}">
                                <img src="{{ comment.user.user_details.user_image.url }}" width="30" height="30"
                                    class="user-img rounded-circle mr-2">
                                <span class="font-weight-bold text-primary margin-l-name">{{ comment.user }}</span></a>
                        </div>
                        <small class="d-none d-sm-block">{{ comment.post_date|date:"jS F Y, P" }}</small>
                        <small class="d-sm-none">{{ comment.post_date|date:"SHORT_DATE_FORMAT" }}</small>
                    </div>
                    <div class="font-weight-bold reply px-4">{{ comment.body | linebreaks }}</div>
                    {% if user == comment.user %}
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply comment-remove px-4">
                            <span class="dots"></span>
                            <small id="demo" onclick="myFunction({{ comment.id }})"
                                data-id="{{ comment.id }}">Remove</small>

                        </div>

                        <div class="icons align-items-center">
                            <i class="fa fa-check-circle-o check-icon"></i>
                        </div>

                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                    <h4>No Comments</h4>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For comments -->

                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-wc-green btn-lg mt-1">Submit Comment</button>
                </form>

                {% endif %}
            </div>
        </div>
    </div>

    <!-- new test content -->

    <div class="row  d-flex justify-content-center">

    </div>
    <!-- new test content -->
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
<script>
    {% if user.is_authenticated %}
    const form = document.querySelector('#myForm');
    var button = form.querySelector('.btn-like');
    var element = document.querySelector('#fav_count');
    var currentValue = parseInt(element.innerHTML, 10);
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        fetch("{% url 'recipe_favourite' recipe.slug %}", {
                method: 'POST',
                body: formData,
            })
            .then((response) => response.json())
            .then((data) => {
                // update the HTML page with the updated data
                if (data.liked) {
                    button.innerHTML = '<i class="fas fa-heart"></i>';
                    currentValue = currentValue + 1;
                    element.innerHTML = currentValue;
                } else {
                    button.innerHTML = '<i class="far fa-heart"></i>';
                    if (currentValue > 0) {
                        currentValue = currentValue - 1;
                    } else {
                        currentValue = currentValue;
                    }
                    element.innerHTML = currentValue;
                }
            })
            .then(() => {});
        return false;
    });
    {% endif %}

    const checkbox = document.getElementById('flexSwitchCheckChecked')
    const comments_row = document.getElementById('comments_row')
    checkbox.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            comments_row.style.display = 'flex';
        } else {
            comments_row.style.display = 'none';
        }
    })

    var main = new Splide('#image-main-carousel', {
        gap: 20,
        rewind: true,
        perPage: 5,
        type: 'loop',
        autoplay: true,
        pagination: false,
        breakpoints: {
            500: {
                perPage: 1,
            },
            600: {
                perPage: 2,
            },
            750: {
                perPage: 3,
            },
            1000: {
                perPage: 4,
            }


        }
    }).mount();


    function myFunction(id) {
        let valid;
        let recipe_slug = '{{ recipe.slug }}';
        let csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        fetch(`/recipes/${recipe_slug}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token,
                },
                body: JSON.stringify({
                    'id': id
                })
            })
            .then(response => {
                if (response.ok) {
                    valid = response
                    return response.json();
                }
                throw new Error(response.statusText);
            })
            .then(data => {
                console.log(data.message);
                console.log(valid);
                if (valid.ok) {
                    //find the comment element
                    let comment = document.querySelector(`[data-comment_id="${id}"]`);
                    //remove the comment element from the comments section
                    comment.innerHTML = `<div class="alert alert-warning" role="alert">
  This comment has been removed.
</div>`;
                    setTimeout(function () {
                        comment.remove();
                    }, 2500);

                } else {
                    // Handle other status codes
                    console.log(data.message);
                }
            })
            .catch(error => console.error(error));
    }
</script>

{% endblock content %}