{% extends 'base.html' %} {% load static %} {% block content %}

{% load crispy_forms_tags %}
{% load cloudinary %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
</head>

<div class="masthead mb-2">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6 masthead-text printable">
                <span class="text-dark fs-5"><a class="text-decoration-none text-reset" href="{% url 'recipes' %}" title="Go to recipes page">
                        <i class="fa-solid fa-chevron-left"></i>Back</a></span>
                <!-- Recipe title -->
                <h1 class="post-title text-capitalize">
                    {{ recipe.title }}
                    {% if user == recipe.author %}    
                    <a href="{% url 'profile_page_recipes_edit' user.username recipe.slug %}" class="post-link" title="Go to recipe edit page">
                        <div class="btn btn-primary">Edit</div>
                    </a>
                    {% endif %}
                </h1>
                <!-- author -->
                <h2 class="post-subtitle post-link-green">
                    Recipe by:
                    <span class="text-uppercase">
                        <strong>
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' recipe.author %}" title="Go to user profile page">
                                {{ recipe.author }}
                            </a>
                        </strong>
                    </span>
                </h2>
                <p class="post-subtitle">Uploaded: {{ recipe.upload_date|date:"d/m/Y" }}</p>   
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The image URL  --> 
                <img src="https://res.cloudinary.com/dcyscwwbk/image/upload/v1675121604/site_images/banner.webp" alt="Banner image of cooking" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
</div>
<div class="container-xxl">
    <div class="row mb-3 printable">
        <div class="d-inline col-12">
            <h3>About:</h3>
            <p class="card-text ">
                {{ recipe.excerpt | safe }}
            </p>
        </div>
    </div>

    <div class="row printable">
        <div class="d-inline col-6 ">
            <div><i class="fa-solid fa-utensils"></i> - Serves {{ recipe.serves }}</div>
            <div><i class="fa-solid fa-mortar-pestle"></i> - Prep {{ recipe.prep_time }} Mins</div>
            <div class="mb-2"><i class="fa-solid fa-fire-burner"></i> - Cook {{ recipe.cook_time }} Mins</div>
            <h4 class="d-inline">Rating:{% if recipes_avg > 0 %}
                {{ recipes_avg|floatformat:1 }}</h4><small class="d-inline"> ({{ recipes_count }})</small>
            {% else %}
            No Ratings</h4>
            {% endif %}
            {% if user.is_authenticated %}
           
            <p class="card-text mt-2">
                <form method="post" id="the_rating_form_form" name="the_rating_form_form">
                {% for _ in star_loop %}
                <button type="submit" class="btn-no-style" data-num="{{ forloop.counter0 }}" aria-label="rate recipe">
                    {% if rated == False %}
                <i class="fa-solid fa-star star_click" data-fill="fill" data-num="{{ forloop.counter0 }}"></i>          
            {% else %}
            <i class="fa-solid fa-star star_click" style="color: #667D36;" data-fill="fill" data-num="{{ forloop.counter0 }}"></i>
            {% endif %}
            </button>
                {% endfor %}
                {% for i in empty_star_loop %}
                <button type="submit" class="btn-no-style" aria-label="rate recipe">
                <i class="fa-regular fa-star star_click" data-fill="clear" data-num="{{ i }}"></i>
            </button>
                {% endfor %}
                <input type="hidden" name="the_rating_form" value="the_rating_form">
                {{ rating_form }}
                {% csrf_token %}
                </form>
            </p>
            {% else %}
            <p class="card-text mt-2">
                {% for _ in star_loop %}
                <i class="fa-solid fa-star" data-num="{{ forloop.counter0 }}"></i>          
                {% endfor %}
                {% for i in empty_star_loop %}
                <i class="fa-regular fa-star" data-num="{{ i }}"></i>
                {% endfor %}
            </p>
            {% endif %}
            <button id="printButton" class="btn post-link-green" aria-label="Print recipe button"><i class="fa-solid fa-print"></i> Print</button>
        </div>
        <div class="d-inline col-6">
            <img src="{{ recipe.recipe_image.url }}" alt="Image of the recipe" width="100%" class="rounded-3 max_width_recipe_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </div>
    </div>
    <div class="row recipe_icons mt-4 printable">
        <div class="col-4 col-md-2 text-center">
            <strong>
                {% if user.is_authenticated %}
                <form id="myForm" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if favourited %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like" aria-label="Make recipe a favourite">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like" aria-label="remove recipe as favourite">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                    <input type="hidden" name="the_like_form" value="the_like_form">
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span id="fav_count" class="text-secondary">{{ recipe.number_of_favourites }}</span>
            </strong>

        </div>
        <div class="col-4 col-md-2 text-center">
            <a class="text-decoration-none text-reset" href="#the_methods" title="Go to methods section">
                {% with methods.count as total_methods %}
                <strong class="text-secondary"><i class="fas fa-list-ul"></i>
                    {{ total_methods }}
                </strong>
                {% endwith %}
            </a>
        </div>
        <div class="col-4 col-md-2 text-center">
            <a class="text-decoration-none text-reset" href="#the_comments" title="Go to comments section">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
                {% endwith %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- ingredients  -->
    <div class="row printable">
        <div class="d-inline col-12 ">
            <h3>Ingredients:</h3>
            {% if ingredients|length != 0 %}
            <ul>
                {% for ingredients_item in ingredients %}
                {% if ingredients_item.ingredients.approved == True %}
                <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                    {{ ingredients_item.unit }}
                    <span class="text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span></li>
                {% else %}
                <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                    {{ ingredients_item.unit }}
                    <span
                        class="text-decoration-underline text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}

            <h4>No Ingredients</h4>

    {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- methods  -->
    <div class="row printable" id="the_methods">
        <div class="card-body">
            <h3>Methods:</h3>
            {% if methods|length != 0 %}
            <ol>
                {% for method_item in methods %}
                <li class="mb-3">{{ method_item.method|safe }}</li>
                {% endfor %}
            </ol>
            {% else %}

                    <h4>No Methods</h4>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Picture upload place -->
    <div class="row not-printable">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Pictures:</h3>
        {% if user.is_authenticated %}
        <div class="col-sm-2 card mb-4  mt-3 ">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_image_upload" aria-label="Upload image for recipe">Upload</button>
        </div>
        {% endif %}
    </div>
    {% if images|length != 0 %}
    <div class="row d-flex justify-content-center not-printable">
        <div class="col">
            <section id="image-main-carousel" class="splide" aria-label="Beautiful Images">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in images %}
                        <li class="splide__slide" data-image_id="{{ image.id }}">
                            <img class="rounded" src="{{ image.recipe_image.url }}" width="100%" alt="User profile image">
                            <div class="font-weight-bold">
                                <span class=" text-muted font-weight-normal">
                                    <span class="text-capitalize text-green-color"><strong>{{ image.user }}</strong></span>
                                    
                                    {% if user.is_authenticated %}
                                    {% if user == image.user %}
                                    <button id="remove_image_button" onclick="removeImageFunction({{ image.id }})"
                                    data-id="{{ image.id }}" class="btn-no-style" aria-label="remove recipe image">
                                        <i class="fa-solid fa-ban"></i>
                                    </button> 
                                    {% endif %}
                                    {% endif %}
                                    -
                                    
                                    {{ image.upload_date|date:"jS F Y" }}
                                </span> 
                                <p class="text-capitalize">wrote:</p>
                                <p class="text-capitalize">{{ image.headline }}</p></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <h4>No Pictures</h4>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Comments upload place -->
    <div class="row" id="the_comments">
        <div class="col-md-8 card mt-3 comments-section">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h3>Comments:</h3>
                
                <div class="buttons">
                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <label class="switch">
                            <input type="checkbox" id="flexSwitchCheckChecked" checked>
                            <span class="slider round"></span>
                        </label>
                    </span>
                </div>   
            </div>
        </div>
    </div>
<!-- comments  -->
    <div class="row" id="comments_row">
        <div class="col-md-8 card mb-4  mt-3 comments-section">
            <div>
                {% if comments|length != 0 %}
                {% for comment in comments %}
                <div class="card p-3 mt-2 " data-comment_id="{{ comment.id }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' comment.user %}" title="Go to user profile page">
                                <img src="{{ comment.user.user_details.user_image.url }}" width="30" height="30"
                                    class="user-img rounded-circle mr-2" alt="User profile image">
                                <span class="font-weight-bold text-primary margin-l-name">{{ comment.user }}</span></a>
                        </div>
                        <small class="d-none d-sm-block">{{ comment.post_date|date:"jS F Y, P" }}</small>
                        <small class="d-sm-none">{{ comment.post_date|date:"SHORT_DATE_FORMAT" }}</small>
                    </div>
                    <div class="font-weight-bold reply px-4">{{ comment.body | linebreaks }}</div>
                    {% if user == comment.user %}
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply comment-remove px-4">
                            <span class="dots"></span>
                            <small id="remove_comment_button" onclick="myFunction({{ comment.id }})"
                                data-id="{{ comment.id }}">Remove</small>

                        </div>

                        <div class="icons align-items-center">
                            <i class="fa fa-check-circle-o check-icon"></i>
                        </div>

                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                    <h4>No Comments</h4>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For comments -->
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-wc-green btn-lg mt-1" aria-label="Submit a comment">Submit Comment</button>
                    <input type="hidden" name="the_comment_form" value="the_comment_form">
                </form>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
    </div>
</div>

<!-- recipe image larger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="exampleModalLabel">{{ recipe.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{{ recipe.recipe_image.url }}" width="100%" alt="Final image of the meal">
        </div>
      </div>
    </div>
  </div>

  <!-- upload an image modal -->
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop_image_upload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop_image_uploadLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Upload Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
 <form method="post" enctype="multipart/form-data">
        <div class="modal-body">
           
                {{ image_form.as_p }}
                {% csrf_token %}
                
                <input type="hidden" name="the_image_form" value="the_image_form">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
          <button type="submit" class="btn btn-wc-green" aria-label="Submit an image">Submit Image</button>
        </div>
    </form>
      </div>
    </div>
  </div>


<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
{% if user.is_authenticated %}
    <script>
        let isAuthenticated = true;
    </script>
{% else %}
    <script>
        let isAuthenticated = false;
    </script>
{% endif %}
{% if rated %}
    <script>
        let ratedA = true;
    </script>
{% else %}
    <script>
        let ratedA = false;
    </script>
{% endif %}
<script>
    let recipeSlug = '{{ recipe.slug }}';
</script>
<script src="{% static 'js/recipe_detail.js' %}"></script>

{% endblock content %}rated