{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead mb-2">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title text-capitalize">
                    {{ recipe.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <h2 class="post-subtitle post-link-green">
            Recipe by:
                    <span class="text-uppercase">
                        <strong>
                            <a class="text-decoration-none text-reset" href="{% url 'profile_page' recipe.author %}">
                                {{ recipe.author }}
                            </a>
                        </strong>
                    </span>
                </h2>
                <p class="post-subtitle">Uploaded: {{ recipe.upload_date|date:"d/m/Y" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in recipe.recipe_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ recipe.recipe_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="d-inline col-12">
            <!-- The post content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <h3>About:</h3>
            <p class="card-text ">
                {{ recipe.excerpt | safe }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="d-inline col-6 ">
            <!-- The post content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <h3>Rating:{% if recipes_avg > 0 %}
                {{ recipes_avg }}
                {% else %}
                No Ratings
                {% endif %}</h3>
            <p class="card-text mt-2">
               {% for _ in star_loop %}
                <i class="fa-solid fa-star"></i>
                {% endfor %}
                {% for _ in empty_star_loop %}
                <i class="fa-regular fa-star"></i>
                {% endfor %}
            </p>
            <p><small>Ratings: ({{ recipes_count }})</small></p>
        </div>
        <div class="d-inline d-md-none col-6">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in recipe.recipe_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
            {% else %}
            <img src="{{ recipe.recipe_image.url }}" width="100%">
            {% endif %}
        </div>
    </div>
    <div class="row recipe_icons">

        <div class="col-2">
            <strong>
                {% if user.is_authenticated %}
                <form id="myForm" class="d-inline" action="{% url 'recipe_favourite' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if favourited %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span id="fav_count" class="text-secondary">{{ recipe.number_of_favourites }}</span>
            </strong>

        </div>
        <div class="col-2">
            {% with methods.count as total_methods %}
            <strong class="text-secondary"><i class="fas fa-list-ul"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_methods }}
            </strong>
            {% endwith %}
        </div>
        <div class="col-2">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_comments }}
            </strong>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="d-inline col-12 ">

            <h3>Ingredients:</h3>
            <ul>
                {% for ingredients_item in ingredients %}
                {% if ingredients_item.ingredients.approved == True %}
                <li>{{ ingredients_item.ingredients.name }} - {{ ingredients_item.amount }}
                    {{ ingredients_item.unit }}</li>
                {% else %}
                <li><strong>{{ ingredients_item.ingredients.name }}</strong> - {{ ingredients_item.amount }}
                    {{ ingredients_item.unit }}</li>
                {% endif %}
                {% endfor %}
                <!-- {{ ingredients }} -->
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <h3>Methods:</h3>
            <ol>
                {% for method_item in methods %}
                <li>{{ method_item.method | safe }}</li>
                {% endfor %}
            </ol>

        </div>

    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Picture upload place -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Pictures:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for image in images %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ image.user }} - {{ image.upload_date }}
                        </span> wrote:
                    </p>{{ image.headline }}
                    <!-- The body of the comment goes before the | -->
                    {% if "placeholder" in recipe.recipe_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                    {% else %}
                    <img src="{{ image.recipe_image.url }}" width="100%">
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Comments upload place -->
    <div class="row">
        <div class="col-md-8 card mt-3 comments-section">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h3>Comments:</h3>
                <div class="buttons">
                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="comments_row">
        <div class="col-md-8 card mb-4  mt-3 comments-section">
            <div>
                {% for comment in comments %}
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
                            <span class="font-weight-bold text-primary margin-l-name">{{ comment.user }}</span>
                        </div>
                        <small>{{ comment.post_date }}</small>
                    </div>
                    <div class="font-weight-bold reply px-4">{{ comment.body | linebreaks }}</div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4">
                            <small>Remove</small>
                            <span class="dots"></span>
                            <small>Reply</small>
                            <span class="dots"></span>
                            <small>Translate</small>
                        </div>
                        <div class="icons align-items-center">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-check-circle-o check-icon"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For comments -->

                {% if user.is_authenticated %}
                {% if commented %}
                {% if valid_comment %}
                <div class="alert alert-success" role="alert">
                    Comment Submitted
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    Error With Comment
                </div>
                {% endif %}
                {% endif %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit Comment</button>
                </form>

                {% endif %}
            </div>
        </div>
    </div>

    <!-- new test content -->

    <div class="row  d-flex justify-content-center">

    </div>
    <!-- new test content -->
</div>

<script>
    const form = document.querySelector('#myForm');
    var button = form.querySelector('.btn-like');
    var element = document.querySelector('#fav_count');
    var currentValue = parseInt(element.innerHTML, 10);
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        fetch("{% url 'recipe_favourite' recipe.slug %}", {
                method: 'POST',
                body: formData,
            })
            .then((response) => response.json())
            .then((data) => {
                // update the HTML page with the updated data
                if (data.liked) {
                    button.innerHTML = '<i class="fas fa-heart"></i>';
                    currentValue = currentValue + 1;
                    element.innerHTML = currentValue;
                } else {
                    button.innerHTML = '<i class="far fa-heart"></i>';
                    if (currentValue > 0) {
                        currentValue = currentValue - 1;
                    } else {
                        currentValue = currentValue;
                    }
                    element.innerHTML = currentValue;
                }
            })
            .then(() => {});
        return false;
    });


    const checkbox = document.getElementById('flexSwitchCheckChecked')
    const comments_row = document.getElementById('comments_row')
    checkbox.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            comments_row.style.display = 'block';
        } else {
            comments_row.style.display = 'none';
        }
    })
</script>

{% endblock content %}