{% extends "base.html" %}

{% block content %}

<div class="container-fluid recipe-page">

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>Recipes</h1>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>


    <div class="d-flex flex-wrap justify-content-center">
        <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto">

            <div class="dropdown">
                <a class="btn btn-dark dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>Sort
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'name' %}">Name</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'rating' %}">Rating</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'favourite' %}">Favourites</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'date' %}">Newest</a></li>
                    <li><a class="dropdown-item" href="{% url 'recipes_sort' 'time' %}">Quickest</a></li>
                </ul>
            </div>
            <button class="btn btn-dark mx-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasFilterScroll" aria-controls="offcanvasFilterScroll">
                <i class="fa-solid fa-filter"></i> Filter</button>

                

            <button class="btn btn-secondary mx-1" type="button" onclick="window.location.href='{% url 'recipes' %}';">
                <i class="fa-solid fa-rotate"></i> Reset</button>
        </div>

      

        <form class="col-12 col-lg-auto mb-3 mb-lg-0" id="search_recipe_bar" method="get"
            action="{% url 'recipes_search' %}">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                {% for field in form %}
                {{ field }}
                {% endfor %}
            </div>
        </form>


    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if searched_ingri_list|length != 0 %}
            <h6 class="mt-3">Filter:</h6>
            <div id="id_filter_items">
                <ul>
                    {% for filter_item in searched_ingri_list %}
                    <li class="checked_item_search">{{ filter_item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
    {% if query == False %}
    <p>{{ recipes_list }}</p>

    {% else %}

    <div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 left">
            <div class="row">
                {% for recipe in recipes_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body index-card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top auto-img-h"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top auto-img-h" src="{{ recipe.recipe_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <a class="text-decoration-none text-reset"
                                        href="{% url 'profile_page' recipe.author %}">
                                        <p class="author">Recipe by: {{ recipe.author }}</p>
                                    </a>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title one-Line-ellipsis">{{ recipe.title }}</h2>
                                <p class="card-text card-h-small">{{ recipe.excerpt }}</p>
                            </a>
                            <p class="card-text mb-0"><small>Meal Time: {{ recipe.total_time }} Minutes</small></p>
                            <hr />
                            <div class="d-flex">
                                <div class="col-10 card-text text-muted h6">
                                    {% if recipe.the_star_rating_count != 0 %}
                                    {% for _ in recipe.the_star_rating_int %}
                                    <i class="fa-solid fa-star"></i>
                                    {% endfor %}
                                    {{ recipe.the_star_rating|floatformat:1  }} ( {{ recipe.the_star_rating_count }} )
                                    {% else %}
                                    No Ratings
                                    {% endif %}
                                </div>
                                <div class="col-2 text-end card-text text-muted h6">
                                    <i class="far fa-heart"></i> {{ recipe.number_of_favourites }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endif %}
</div>
</div>

<div class="offcanvas offcanvas-start recipe-page" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasFilterScroll" aria-labelledby="offcanvasFilterScrollLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterScrollLabel">Colored with scrolling</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>

        <form id="ingredients_bar" method="get" action="{% url 'recipes_filter' %}">
            {% for object in filter_form %}
            {{ object }}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Go">
        </form>


    </div>
    <div class="offcanvas-footer">
        <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#search_query').keyup(function () {
            $('#search_recipe_bar').submit();
        });


        $('#search_query').focus();

        var input = $('#search_query')[0];
        var length = input.value.length;
        input.setSelectionRange(length, length);
        input.focus();



        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {

            let filter = checkbox.getAttribute('id');
            let t1 = 'label[for="';
            let t2 = filter;
            let t3 = '"]';
            let result = t1.concat(t2, t3);
            let label = document.querySelector(result);
            label.classList.add('unchecked');
            checkbox.removeAttribute('checked');

            // Add a change event listener to update sessionStorage
            checkbox.addEventListener('change', function () {
                // sessionStorage.setItem(filter, this.checked);

                if (label.classList.contains('unchecked')) {
                    // the element has the class-name class
                    checkbox.setAttribute('checked', 'checked');
                    label.classList.remove('unchecked');
                    label.classList.add('checked');
                } else {
                    // the element does not have the class-name class
                    label.classList.add('unchecked');
                    label.classList.remove('checked');
                    checkbox.removeAttribute('checked');
                }
            });
        });

    });
</script>
{%endblock%}