{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="basic">
        {% include "logged_in_user_card.html" %}    
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
  <span class="text-dark fs-5"><a class="text-decoration-none text-reset" href="{% url 'profile_page' page_name.username %}">
    <i class="fa-solid fa-chevron-left"></i>Back</a></span>
  </div>
</div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>


  <div class="row">
    <div class="col">
      <h1 class="text-capitalize"><span class="fw-bold">{{ page_name }}</span> - Shopping Lists</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Shopping list count: {{ user.shopping_list.count }}</p>
      <p>
        Shopping Lists:
      </p>
      {% if user.shopping_list.count > 0 %}
      <div class="list-group">
        {% for lists in user.shopping_list.all %}
        <a href="{% url 'profile_single_shopping' username=user.username list=lists.slug %}" class="list-group-item list-group-item-action list-group-item d-flex justify-content-between align-items-center">
          {{ lists }}
         

        </a>
        {% endfor %}
      </div>
      {% else %}
      <p><strong>No Shopping Lists</strong></p>
      {% endif %}
    </div>
  </div>

</div>

{%endblock%}