{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>My List - {{ user_shopping_list.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>username: {{ logged_in_user.username }}</p>
      <p>firstname: {{ logged_in_user.first_name }}</p>
      <p>lastname: {{ logged_in_user.last_name }}</p>
      <p>email: {{ logged_in_user.email }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>location: {{ logged_in_user.user_details.location }}</p>
      {% if logged_in_user.user_details.status == 0 %}
      <p>status: Suspended</p>
      {% elif logged_in_user.user_details.status == 1 %}
      <p>status: Standard</p>
      {% elif logged_in_user.user_details.status == 2 %}
      <p>status: Bronze</p>
      {% elif logged_in_user.user_details.status == 3 %}
      <p>status: Silver</p>
      {% elif logged_in_user.user_details.status == 4 %}
      <p>status: Gold</p>
      {% elif logged_in_user.user_details.status == 5 %}
      <p>status: Platnium</p>
      {% else %}
      <p>status: Error no Status</p>
      {% endif %}

      <p>user_image:</p>
      <img class="col-2" src="{{ logged_in_user.user_details.user_image.url }}">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        {{ user_shopping_list.name }}
      </p>
      <p>
        {{ user_shopping_list.date_made }}
      </p>
      <p>
        {{ user_shopping_list.last_update }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Shopping list count: {{ user_list.count }}</p>
      <p>
        List Items:
      </p>
      {% if user_list.count > 0 %}
      <ul>
        {% for item in user_list %}
        <li>{{ item.ingredients }} | {{ item.amount }} | {{ item.unit }} | 
          <input type="checkbox" id="{{ item.ingredients }}" name="{{ item.ingredients }}" value="collected"
          {% if item.collected == True %}
          checked
          {% endif %}
          >
          {{ item.collected }}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No List Items</strong></p>
      {% endif %}
    </div>
  </div>

</div>

{%endblock%}