{% extends "base.html" %}
{% load static %}
{% block content %}


  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="basic">
          {% include "logged_in_user_card.html" %}    
          </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>

  <div class="row">
    <div class="col">
  <span class="text-dark fs-5"><a class="text-decoration-none text-reset" href="{% url 'profile_page' page_name.username %}">
    <i class="fa-solid fa-chevron-left"></i>Back</a></span>
  </div>
</div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>

      <div class="row">
        <div class="col">
          <h1>My List - {{ user_shopping_list.name }}</h1>
        </div>
      </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        {{ user_shopping_list.name }}
      </p>
      <p>
       Date created: {{ user_shopping_list.date_made }}
      </p>
      <p>
        Last addition: {{ user_shopping_list.last_update }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Shopping list count: {{ user_list.count }}</p>
      <p>
        List Items:
      </p>
      {% if user_list.count > 0 %}
      <ul>
        {% for item in user_list %}
        <li>{{ item.ingredients }} | {{ item.amount }} | {{ item.unit }} | 
          <input type="checkbox" id="{{ item.ingredients }}" name="{{ item.ingredients }}" value="collected"
          {% if item.collected == True %}
          checked
          {% endif %}
          >
          {{ item.collected }}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No List Items</strong></p>
      {% endif %}
    </div>
  </div>

</div>

{%endblock%}