{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="basic">
        {% include "logged_in_user_card.html" %}    
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>


  <div class="row">
    <div class="col">
  <span class="text-dark fs-5"><a class="text-decoration-none text-reset" href="{% url 'profile_page' page_name.username %}">
    <i class="fa-solid fa-chevron-left"></i>Back</a></span>
  </div>
</div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>


  <div class="row">
    <div class="col">
      <h1 class="text-capitalize"><span class="fw-bold">{{ page_name }}</span> - Favourites</h1>
    </div>
  </div>
  

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
    
      <p>Favourite Recipes:</p>

      <p>Favourite Recipes Count: {{ fav_recipes_count }}</p>

      {% if fav_recipes_count > 0 %}
      <ul>
        {% for favourite in fav_recipes %}
        <a href="{% url 'recipe_detail' favourite.slug %}" class="post-link">
          <li>{{ favourite }}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Favourite Recipes</strong></p>
      {% endif %}
    </div>
  </div>

</div>

{%endblock%}