{% extends "base.html" %}
{% load static %}
{% block content %}
{% load cloudinary %}

<head>

  <link rel="stylesheet" href="{% static 'css/style_card.css' %}">

</head>

<div class="container-fluid">


  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col bg-helpper py-5 fs-5">
      <div class="profile-bg"></div>
      <div class="row">
        <h1><u>Profile</u></h1>
      </div>
      <div class="row  justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="row">
            <div class="col">
              <p><strong>Username:</strong> {{ page_name.username }}</p>
              <p>
                <strong>First Name:</strong>
                {% if page_name.first_name %}
                {{ page_name.first_name }}
                {% else %}
                <span class="text-danger">Not Set</span>
                {% endif %}
              </p>
              <p>
                <strong>Last Name:</strong>
                {% if page_name.last_name %}
                {{ page_name.last_name }}
                {% else %}
                <span class="text-danger">Not Set</span>
                {% endif %}
              </p>
              <p><strong>Email:</strong> {{ page_name.email|default:"Not Set" }}</p>
              <p>
                <strong>Location:</strong>
                {% if page_name.user_details.location %}
                {{ page_name.user_details.location }}
                {% else %}
                <span class="text-danger">Not Set</span>
                {% endif %}
              </p>
              <p>
                <strong>Status:</strong>
                <span class="color-slide bg-{{ page_name.user_details.get_status_display|lower }}">
                  <span class="user-profile-card-title">
                    <i class="fas fa-award"></i>
                    <span>{{ page_name.user_details.get_status_display }}</span>
                  </span>
                </span>
              </p>
              <p><strong>Date Joined:</strong> {{ page_name.date_joined|date:"jS F Y" }}</p>

              <div class="mt-2">
                {% if average_recipe.user_recipe_average != 0 %}
                <p><strong>Rating:</strong>
                  {% for number in average_recipe.user_recipe_average_star %}
                  <i class="fa-solid fa-star"></i>
                  {% endfor %}
                  {% for number in average_recipe.user_recipe_average_blank %}
                  <i class="fa-regular fa-star"></i>
                  {% endfor %}
                  {{ average_recipe.user_recipe_average|floatformat:1  }}
                </p>
                {% else %}
                <p class="mb-0">No Recipe Ratings</p>
                {% endif %}
              </div>






            </div>

            <div class="col-12 col-sm-4">

              <p><strong>Profile Image:</strong> </p>
              <img src="{{ page_name.user_details.user_image.url }}"
                class="img-thumbnail img-fluid rounded profile_img_size mx-auto d-block d-sm-inline" alt="profile pic">

            </div>
          </div>


          {% if user.is_authenticated %}
          <div class="row justify-content-center mt-5">
            <div class="col-8 col-sm-4">
              <div class="row">
                {% if page_name != user %}


                {% if is_following != 0 %}
                {% if is_following == 1 %}
                <form name="follow_submit" method="post" action="{% url 'profile_page' page_name %}">
                  {% csrf_token %}
                  {{ follow_form }}
                  <input class="btn btn-wc-green w-100" type="submit" value="Follow">
              </form>
                {% else %}

                <form name="follow_submit" method="post" action="{% url 'profile_page' page_name %}">
                  {% csrf_token %}
                  {{ unfollow_form }}
                  <input class="btn btn-primary w-100" type="submit" value="Following" id="following_id">
              </form>

                {% endif %}
                {% endif %}

                {% endif %}
                {% if page_name == user %}


                {% if page_name.first_name and page_name.last_name and page_name.user_details.location %}
                <button class="btn btn-wc-green" data-bs-toggle="modal" data-bs-target="#userProfileModal">
                  Edit Account
                </button>
                {% else %}
                <button class="btn btn-wc-yellow" data-bs-toggle="modal" data-bs-target="#userProfileModal">
                  Complete Account
                </button>
                {% endif %}



                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <i class="fas fa-utensils text-orange-color"></i> Recipes:
      </h2>

      {% if page_name == user %}
      <p><a href="{% url 'profile_page_recipes_add' user.username %}" class="post-link">
        <button type="button" class="btn btn-outline-primary">
          <i class="fa-regular fa-square-plus"></i> Create New
        </button>
      </a></p>

      {% endif %}

      <p>Recipe count: {{ showing_recipes.count }}</p>
      {% if showing_recipes.count > 0 %}
      <div id="splide2" class="splide">
        <div class="splide__track">
          <div class="splide__list">
            {% for recipe in showing_recipes %}
            <div class="col-md-4 splide__slide m-2">
              <div class="card mb-4">
                <div class="card-body index-card-body">
                  {% if page_name == user %}
                  {% if recipe.status == 0 %}
                  <div class="image-container border border-danger border-5 rounded">
                  {% else %}
                  <div class="image-container border border-success border-5 rounded">
                  {% endif %}
                  {% else %}
                  <div class="image-container">
                  {% endif %}
              
                      <img class="card-img-top auto-img-h" style="max-height: 200px; max-width: none;"
                        src="{{ recipe.recipe_image.url }}">
                   
                    </div>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                      <h2 class="card-title one-Line-ellipsis text-capitalize">{{ recipe.title }}
                        {% if recipe.status == 0 %}
                        <i class="fa-solid fa-link-slash"></i>
                        {% endif %}
                      </h2>
                      <p class="card-text card-h-small">{{ recipe.excerpt }}</p>
                    </a>
                    <p class="card-text mb-0"><small>Meal Time: {{ recipe.total_time }} Minutes</small></p>
                    <hr />
                    <div class="d-flex">
                      <div class="col-10 card-text text-muted h6">
                        {% if recipe.the_star_rating_count != 0 %}
                        {% for _ in recipe.the_star_rating_int %}
                        <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {{ recipe.the_star_rating|floatformat:1  }} ( {{ recipe.the_star_rating_count }} )
                        {% else %}
                        No Ratings
                        {% endif %}
                      </div>
                      <div class="col-2 text-end card-text text-muted h6">
                        <i class="far fa-heart"></i> {{ recipe.number_of_favourites }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="mt-2 post-link"><a href="{% url 'profile_page_recipes' page_name.username %}" class="post-link">
            View All</a></p>
        {% else %}
        <p><strong>No Recipes</strong></p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>
          <i class="fas fa-heart text-orange-color"></i> Favourite Recipes:
        </h2>
        <p>Favourite Recipes Count: {{ fav_recipes_count }}</p>
        {% if fav_recipes_count > 0 %}
        <div id="splide3" class="splide">
          <div class="splide__track">
            <div class="splide__list">
              {% for recipe in fav_recipes %}
              <div class="col-md-4 splide__slide m-2">
                <div class="card mb-4">
                  <div class="card-body index-card-body">
                    <div class="image-container">
                  
                      <img class="card-img-top auto-img-h" style="max-height: 200px; max-width: none;"
                        src="{{ recipe.recipe_image.url }}">
                  
                      <div class="image-flash">
                        <a class="text-decoration-none text-reset" href="{% url 'profile_page' recipe.author %}">
                          <p class="author">Recipe by: {{ recipe.author }}</p>
                        </a>
                      </div>
                    </div>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                      <h2 class="card-title one-Line-ellipsis text-capitalize">{{ recipe.title }}
                        {% if recipe.status == 0 %}
                        <i class="fa-solid fa-link-slash"></i>
                        {% endif %}
                      </h2>
                      <p class="card-text card-h-small">{{ recipe.excerpt }}</p>
                    </a>
                    <p class="card-text mb-0"><small>Meal Time: {{ recipe.total_time }} Minutes</small></p>
                    <hr />
                    <div class="d-flex">
                      <div class="col-10 card-text text-muted h6">
                        {% if recipe.the_star_rating_count != 0 %}
                        {% for _ in recipe.the_star_rating_int %}
                        <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {{ recipe.the_star_rating|floatformat:1  }} ( {{ recipe.the_star_rating_count }} )
                        {% else %}
                        No Ratings
                        {% endif %}
                      </div>
                      <div class="col-2 text-end card-text text-muted h6">
                        <i class="far fa-heart"></i> {{ recipe.number_of_favourites }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="mt-2 post-link"><a href="{% url 'profile_page_favourites' page_name.username %}" class="post-link">
            View All</a></p>
        {% else %}
        <p><strong>No Favourite Recipes</strong></p>
        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  
  
  
    <div class="row">
      <div class="col">
        <h2>
          <i class="fas fa-user-friends text-orange-color"></i> Followers:
          </a>
        </h2>
        <p>Followers count: {{ page_name.user_details.number_of_follows }}</p>
        {% if page_name.user_details.number_of_follows > 0 %}
        <div id="splide1" class="splide">
          <div class="splide__track">
            <div class="splide__list">
              {% for follow in page_name.user_details.get_followers %}
              <div class="col-sm-4 splide__slide m-2 mh-100 overflow-hidden">
                <div class="card bg-{{ page_name.user_details.get_status_display|lower }} text-white">
                  <div class="card-body text-dark px-5 py-3">
                    <h5 class="card-title text-capitalize text-truncate text-center">{{ follow }}</h5>
                    <div class="row">
                    <div class="col-4 p-0">
                      <img src="{{ follow.user_details.user_image.url }}" class="rounded w-100" alt="profile pic">
                    </div>
                    <div class="col-6 mx-auto my-auto">

                    
                    <p class="card-text">
                      <strong>Status:</strong>
                      <span class="color-slide bg-{{ page_name.user_details.get_status_display|lower }}">
                        <span class="user-profile-card-title text-color-body text-nowrap">
                          <i class="fas fa-award"></i>
                          <span class="d-none d-sm-inline">{{ page_name.user_details.get_status_display }}</span>
                        </span>
                      </span>
                    </p>
                    <a class="" href="{% url 'profile_page' follow.username %}">
                      <button class="btn btn-wc-green">View Page</button>
                    </a>

                  </div>
                </div>

                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="mt-2 post-link"><a href="{% url 'profile_page_followers' page_name.username %}" class="post-link">
            View All</a></p>
        {% else %}
        <p><strong>No Follows</strong></p>
        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>

    

    {% if page_name == user %}
    <div class="row">
      <div class="col">
        <h2>
          <a href="{% url 'profile_page_shopping' page_name.username %}" class="post-link">
            Shopping Lists:</a>
        </h2>

        <p>Shopping list count: {{ page_name.shopping_list.count }}</p>

        {% if page_name.shopping_list.count > 0 %}
        <div class="list-group">
          {% for lists in page_name.shopping_list.all %}
          <a href="{% url 'profile_single_shopping' username=page_name.username list=lists.slug %}" class="list-group-item list-group-item-action list-group-item d-flex justify-content-between align-items-center">

              {{ lists }}

          </a>
          {% endfor %}
        </div>
        <p class="mt-2 post-link mb-4"><a href="{% url 'profile_page_shopping' page_name.username %}" class="post-link">
          View All</a></p>
        {% else %}
        <p><strong>No Shopping Lists</strong></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div>

  <!-- Modal -->
  <div class="modal fade" id="userProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="userProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title" id="userProfileModalLabel">Edit {{ page_name.username }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            {{ user_form.as_p }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" value="Save Changes" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
  <script>
    let splide_settings = {
      type: 'loop',
      perPage: 3,
      drag: 'free',
      breakpoints: {
        1020: {
          perPage: 2,
          gap: '.7rem',
      
        },
        700: {
          perPage: 1,
          gap: '.7rem',

        },
      },
    }

    let splide_settings_big = {
      type: 'loop',
      perPage: 4,
      drag: 'free',
      breakpoints: {
        1300: {
          perPage: 3,
          gap: '1rem',
        },
        990: {
          perPage: 2,
          gap: '1rem',
        },
        500: {
          perPage: 1,
          gap: '1rem',
        },
      },
    }

    if (document.getElementById("splide1")) {
    var splide1 = new Splide('#splide1', splide_settings);
    splide1.mount();
    }
    if (document.getElementById("splide2")) {
    var splide2 = new Splide('#splide2', splide_settings_big);
    splide2.mount();
    }
    if (document.getElementById("splide3")) {
    var splide3 = new Splide('#splide3', splide_settings_big);
    splide3.mount();
    }

    $("#following_id").hover(function(){
    $(this).attr("value", "Unfollow");
}, function(){
    $(this).attr("value", "Following");
});
  </script>


  {%endblock%}