{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="basic">
        {% include "logged_in_user_card.html" %}    
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>My Recipes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if page_name == user %}
      <a href="{% url 'profile_page_recipes_add' user.username %}" class="post-link">
        <button type="button" class="btn btn-outline-primary"> 
          <i class="fa-regular fa-square-plus"></i> Create New
        </button>
      </a>
      {% endif %}
      

      <p>Recipe count: {{ page_name.user_recipes.count }}</p>

      <p>
        Recipes: 
      </p>
      {% if page_name.user_recipes.count > 0 %}
      <ul>
        {% for recipe in page_name.user_recipes.all %}
        <li>
          <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
        {{ recipe }}
          {% if recipe.status == 0 %}
          <i class="fa-solid fa-link-slash"></i>
          {% endif %}
</a>
          <a href="{% url 'profile_page_recipes_edit' user.username recipe.slug %}" class="post-link"><div class="btn btn-primary">Edit</div></a>
        </li>
      
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Recipes</strong></p>
      {% endif %}
    </div>
  </div>

</div>

{%endblock%}