{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>username: {{ page_name.username }}</p>
      <p>firstname: {{ page_name.first_name }}</p>
      <p>lastname: {{ page_name.last_name }}</p>
      <p>email: {{ page_name.email }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>location: {{ page_name.user_details.location }}</p>
      {% if page_name.user_details.status == 0 %}
      <p>status: Suspended</p>
      {% elif page_name.user_details.status == 1 %}
      <p>status: Standard</p>
      {% elif page_name.user_details.status == 2 %}
      <p>status: Bronze</p>
      {% elif page_name.user_details.status == 3 %}
      <p>status: Silver</p>
      {% elif page_name.user_details.status == 4 %}
      <p>status: Gold</p>
      {% elif page_name.user_details.status == 5 %}
      <p>status: Platnium</p>
      {% else %}
      <p>status: Error no Status</p>
      {% endif %}

      <p>user_image:</p>
      <img class="col-2" src="{{ page_name.user_details.user_image.url }}">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <a href="{% url 'profile_page_followers' page_name.username %}" class="post-link">
          Followers:
        </a>
      </h2>

      <p>followers count: {{ page_name.user_details.number_of_follows }}</p>

      {% if page_name.user_details.number_of_follows > 0 %}
      <ul>
        {% for follow in page_name.user_details.get_followers %}
        <a class="post-link" href="{% url 'profile_page' follow.username %}">
          <li>{{ follow }}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Follows</strong></p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <a href="{% url 'profile_page_recipes' page_name.username %}" class="post-link">
          Recipes:
        </a>
      </h2>

      <p>recipe count: {{ page_name.user_recipes.count }}</p>

      {% if page_name.user_recipes.count > 0 %}
      <ul>
        {% for recipe in page_name.user_recipes.all %}
        <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
          <li>{{ recipe }}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Recipes</strong></p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <a href="{% url 'profile_page_shopping' page_name.username %}" class="post-link">
          Shopping Lists:</a>
        </h2>

      <p>Shopping list count: {{ page_name.shopping_list.count }}</p>

      {% if page_name.shopping_list.count > 0 %}
      <ul>
        {% for lists in page_name.shopping_list.all %}
        <a href="{% url 'profile_single_shopping' username=page_name.username list=lists.slug %}" class="post-link">
          <li>{{ lists }}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Shopping Lists</strong></p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <a href="{% url 'profile_page_favourites' page_name.username %}" class="post-link">
        Favourite Recipes:
        </a>
      </h2>

      <p>Favourite Recipes Count: {{ fav_recipes_count }}</p>

      {% if fav_recipes_count > 0 %}
      <ul>
        {% for favourite in fav_recipes %}
        <a href="{% url 'recipe_detail' favourite.slug %}" class="post-link">
          <li>{{ favourite }}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>No Favourite Recipes</strong></p>
      {% endif %}
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="splide">
      <div class="splide__track">
        <div class="splide__list">
          <div class="col-sm-4 splide__slide m-2">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <h5 class="card-title">Crad Slider 1 </h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 splide__slide m-2">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <h5 class="card-title">Crad Slider 2</h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 splide__slide m-2">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <h5 class="card-title">Crad Slider 3</h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 splide__slide m-2">
            <div class="card bg-dark text-white">
              <div class="card-body">
                <h5 class="card-title">Crad Slider 4</h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
<script>
  var splide = new Splide('.splide', {
    type: 'loop',
    perPage: 3,
    rewind: true,
    breakpoints: {
      640: {
        perPage: 2,
        gap: '.7rem',
        height: '12rem',
      },
      480: {
        perPage: 1,
        gap: '.7rem',
        height: '12rem',
      },
    },
  });
  splide.mount();
</script>


{%endblock%}