{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="basic">
        {% include "logged_in_user_card.html" %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>New Recipe</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col-md-8 mt-3 offset-md-2 mb-4">
        <p>Welcome to the New Recipe page! To get started, please fill in all of the fields below. Once you've completed this page, you'll be directed to the next page where you can add ingredients and write out the recipe steps. We can't wait to see what you come up with!</p>
        <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
          {{ add_form | crispy }}
          {% csrf_token %}
          <a class="text-decoration-none text-reset" href="{% url 'profile_page_recipes' page_name.username %}" title="Go to user recipes page">
            <button type="button" class="btn btn-secondary" aria-label="Close">Close</button>
            </a>
          <button type="submit" class="btn btn-wc-green" aria-label="Submit recipe">Submit Recipe</button>
        </form>
      </div>
    </div>
  </div>

</div>

{%endblock%}