{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="basic">
        {% include "logged_in_user_card.html" %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Edit Recipe - {{ recipe }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col-md-8 mt-3 offset-md-2 mb-4">

        <form method="get">
          {{ form.search_term }}
          <input type="submit" value="Search">

        </form>

        <ul>
          {{ results_count }}
          {% for ingredients in paginator %}

          <li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-ingredient_id="{{ ingredients.id }}" data-bs-ingredient="{{ ingredients }}">
              {{ ingredients.id }} - {{ ingredients }}
            </button> 
            </li>
          {% endfor %}
        </ul>


        <div class="pagination">
          {% if paginator.has_previous %}
          {% if form.search_term.value %}
          <a href="?search_term={{ form.search_term.value }}&page={{ paginator.previous_page_number }}">Previous</a>
          {% else %}
          <a href="?page={{ paginator.previous_page_number }}">Previous</a>
          {% endif %}
          {% endif %}
          <span class="current-page">Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}</span>
          {% if paginator.has_next %}
          {% if form.search_term.value %}
          <a href="?search_term={{ form.search_term.value }}&page={{ paginator.next_page_number }}">Next</a>
          {% else %}
          <a href="?page={{ paginator.next_page_number }}">Next</a>
          {% endif %}
          {% endif %}
        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-inline col-12 ">

        <h3>Ingredients:</h3>
        {% if recipe_ingredients|length != 0 %}
        <ul>
            {% for ingredients_item in recipe_ingredients %}
            {% if ingredients_item.ingredients.approved == True %}
            <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                {{ ingredients_item.unit }}
                <span class="text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span>  (test {{ ingredients_item.id }})</li>
            {% else %}
            <li class="mb-2">{{ ingredients_item.amount|floatformat:"0"  }}
                {{ ingredients_item.unit }}
                <span
                    class="text-decoration-underline text-capitalize"><strong>{{ ingredients_item.ingredients.name }}</strong></span>
            </li>
            {% endif %}
            {% endfor %}
            <!-- {{ ingredients }} -->
        </ul>
        {% else %}

        <h4>No Ingredients</h4>

{% endif %}
    </div>
</div>


</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
      <div class="modal-body">
        <!--  -->
        
          <div class="mb-3 ingredient_input">
            {{ i_form.ingredients }} 
          </div>
          <div class="mb-3">
            {{ i_form.amount }} 
          </div>
          <div class="mb-3">
            {{ i_form.unit }} 
          </div>
          {% csrf_token %}
        <!--  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Ingredient</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script>
  var exampleModal = document.getElementById('staticBackdrop')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var ingredients = button.getAttribute('data-bs-ingredient')
  var ingredients_id = button.getAttribute('data-bs-ingredient_id')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body .ingredient_input input')

  modalTitle.textContent = ingredients
  modalBodyInput.value = ingredients_id
  document.getElementById("id_amount").value = "";
  document.getElementById("id_unit").selectedIndex = 0;
})
</script>

{%endblock%}